/*
    Style Sheet used for customizing Tick Tack Toe Java Game using JavaFX GUI.
    10 Dec 2020
*/

.root
{
    -fx-background-color: #9d8189;
    -fx-font-size: 30px;
    -fx-font-family: "Arial";
}
/*  Game Window */
.pane
{
    -fx-background-color: #f4acb7;
    -fx-border-color: #ffe5d9;
    -fx-border-width: 15px;
}
/*  Button tiles */
.gameButton
{
    -fx-text-fill: #9d8189;
    -fx-pref-width: 200px;
    -fx-pref-height: 200px;
    -fx-border-color: #d8e2dc;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 60px;
    -fx-padding: 6px;
}
/*  Grid for Button tiles   */
.centerGrid 
{
    -fx-background-color: #9d8189;
    -fx-background-insets: 1, 1, 1, 1, 1 ;
    -fx-padding: 10px;
}
/*  All other non-formatted Buttons   */
Button
{
    -fx-padding: 2px;
    -fx-pref-width: 150px;
    -fx-pref-height: 100px;
    -fx-text-fill: #9d8189;
    -fx-border-color: #d8e2dc;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}
/*  Used to center items    */
.centerAlign 
{
    -fx-alignment: center;
    -fx-text-alignment: center;
}