/*

*/

.root
{
    -fx-background-color: #9d8189;
    -fx-font-size: 30px;
    -fx-font-family: "Arial";
}

.pane
{
    -fx-background-color: #f4acb7;
    -fx-border-color: #ffe5d9;
    -fx-border-width: 20px;
}

.gameButton
{
    -fx-text-fill: #9d8189;
    -fx-pref-width: 200px;
    -fx-pref-height: 200px;
    -fx-border-color: #d8e2dc;
    -fx-background-radius: 10px;
    -fx-border-radius: 10;
    -fx-font-size: 60px;
    -fx-padding: 6;
}

}

.centerGrid 
{
    -fx-background-color: #9d8189;
    -fx-background-insets: 1, 1, 1, 1, 1 ;
    -fx-padding: 10px;
}

Button
{
    -fx-padding: 10;
    -fx-pref-width: 150px;
    -fx-pref-height: 100px;
    -fx-text-fill: #9d8189;
    -fx-border-color: #d8e2dc;
    -fx-background-radius: 10px;
    -fx-border-radius: 10;
}

Text
{
    -fx-text-alignment: center;
    -fx-padding: 10;
}

.centerAlign 
{
    -fx-alignment: center;
    -fx-text-alignment: center;
}